{
  "branches": [
    "main"
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/npm",
    [
      "@semantic-release/github",
      {
        "assets": [
          {
            "path": "dist/index.cjs",
            "label": "make-matrix.js"
          },
          {
            "path": "dist/index.js",
            "label": "make-matrix.mjs"
          },
          {
            "path": "dist/index.min.cjs",
            "label": "make-matrix.min.js"
          },
          {
            "path": "dist/index.min.js",
            "label": "make-matrix.min.mjs"
          }
        ]
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": [
          "README.md",
          "package.json",
          "package-lock.json",
          "benchmark/results/make-matrix-ci.json"
        ],
        "message": "chore(release): ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
      }
    ]
  ]
}
